body{
    margin: auto;
}

.login{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: "Inter";
    font-size: 20px;
    
}
fieldset{
    border-radius: 10px;
    width: 400px;
    height: 500px;
    box-shadow: 0 20px 40px rgba(0,0,0,.08);
}
input{
    border-radius: 5px;
    width: 250px;
    height: 25px;
    margin-bottom: 10px;
    font: inherit;
}
input:focus{
    border-color: #000;
    outline: none;
}

.password-toogle{
    background-color: white;
    border: none;
    cursor: pointer;
    padding-left: 5px;
    
}

#submit{
    border-radius: 5px;
    background-color: black;
    color: White;
    width: 180px;
    height: 40px;
    border: none;
    cursor: pointer;
    padding: 12px;
}
#submit:hover{
    opacity: 0.9;
}