body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: "Inter";
    font-size: 15px;
    background-image: linear-gradient(to right, #4F46E5, #9333EA);
}
.card{
    background-color: #FFFFFF;
    width: 600px;
    height: 200px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 10px 10px 1px rgba(0, 0, 0, .18);
}
