body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: "Inter";
    font-size: 15px;
    background-image: linear-gradient(to right, #4F46E5, #9333EA);
}

.card {
    background-color: #FFFFFF;
    width: 600px;
    height: 400px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 10px 10px 1px rgba(0, 0, 0, .18);
}

.card input {
    width: 350px;
    height: 42px;
    border-radius: 10px;
    transition: box-shadow .25s ease;
    font: inherit;
}

.card input:focus {
    box-shadow: 0 0 0 4px rgba(79, 70, 229, .15);
}

.card button {
    background-color: #9333EA;
    width: 350px;
    height: 50px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

form>div {
    margin-bottom: 15px;
}